# Bibliotecas

In [88]:
import pandas as pd
import matplotlib.pyplot

## Carregamento dos dados

In [33]:
dados = pd.read_csv('dados-padaria.csv')
dados

       TransactionNo          Items             DateTime    Daypart  DayType
0                  1          Bread  2016-10-30 09:58:11    Morning  Weekend
1                  2   Scandinavian  2016-10-30 10:05:34    Morning  Weekend
2                  2   Scandinavian  2016-10-30 10:05:34    Morning  Weekend
3                  3  Hot chocolate  2016-10-30 10:07:57    Morning  Weekend
4                  3            Jam  2016-10-30 10:07:57    Morning  Weekend
...              ...            ...                  ...        ...      ...
20502           9682         Coffee  2017-09-04 14:32:58  Afternoon  Weekend
20503           9682            Tea  2017-09-04 14:32:58  Afternoon  Weekend
20504           9683         Coffee  2017-09-04 14:57:06  Afternoon  Weekend
20505           9683         Pastry  2017-09-04 14:57:06  Afternoon  Weekend
20506           9684      Smoothies  2017-09-04 15:04:24  Afternoon  Weekend

[20507 rows x 5 columns]

## Análise exploratoria e tratamento dos dados

In [34]:
#dataset com 5 colunas e quase 21 linhas
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionNo  20507 non-null  int64
 1   Items          20507 non-null  object
 2   DateTime       20507 non-null  object
 3   Daypart        20507 non-null  object
 4   DayType        20507 non-null  object
dtypes: int64(1), object(4)
memory usage: 801.2+ KB

In [35]:
#vou fazer um tratamento para isolar apenas os id de transações unicas
#isso é necessario porque as vezes mais de 1 item é vendido na transação 
# e a ideia é isolar o que foi vendido em cada transacao

transacao = []

for item in dados['TransactionNo'].unique():
    lista= list(set(dados[dados['TransactionNo'] == item]['Items']))
    transacao.append(lista)

In [36]:
#primeiras 5 linhas 
transacao [0:5]

[['Bread'],
 ['Scandinavian'],
 ['Jam', 'Cookies', 'Hot chocolate'],
 ['Muffin'],
 ['Pastry', 'Coffee', 'Bread']]

In [37]:
#instalei e chamei a extensão mlxtend para fazer essa regra associativa
# MLXTEND é uma biblioteca que cria extensões de aplicações de machine learning

!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\patricia.sousa\anaconda4\lib\site-packages (0.21.0)
Requirement already satisfied: setuptools in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

- ### Um tratamento necessario é converter as listas de itens em um dataframe com as transações que o ML possar processar, pois esse somente reconhece binario
- ### TransctionEncoder() utiliza o one hot encoding para transformar os dados categoricos em valores boleanos

In [38]:
#carregamento da libs
from mlxtend.preprocessing import TransactionEncoder

In [39]:
#chamo o instanciamento dessa biblioteca
te= TransactionEncoder()

In [40]:
#abro uma variavel para armazenar meus dados transformados
transacao_te = te.fit(transacao).transform(transacao)

In [41]:
transacao_te

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [43]:
#transformo alista acima de array para um dataframe
transacao_transformada = pd.DataFrame(transacao_te, columns = te.columns_)
transacao_transformada

,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9460,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9461,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
9462,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9463,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9464,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Algoritimo APRIORI

In [46]:
#carregamento da libs para suporte
from mlxtend.frequent_patterns import apriori

In [52]:
#nessa etapa eu faço a separação dos conjuntos frequentes 
#suporte minimo como 0.032
# e já classfico para os dados aparecer em ordem crescente


items_frequentes_apriori = apriori(transacao_transformada, use_colnames=True, min_support=0.02)
items_frequentes_apriori.sort_values(['support'], ascending=False)

     support                 itemsets
4   0.478394                 (Coffee)
1   0.327205                  (Bread)
16  0.142631                    (Tea)
3   0.103856                   (Cake)
20  0.090016          (Coffee, Bread)
11  0.086107                 (Pastry)
12  0.071844               (Sandwich)
9   0.061807              (Medialuna)
7   0.058320          (Hot chocolate)
23  0.054728           (Cake, Coffee)
5   0.054411                (Cookies)
31  0.049868            (Coffee, Tea)
29  0.047544         (Pastry, Coffee)
2   0.040042                (Brownie)
6   0.039197             (Farm House)
8   0.038563                  (Juice)
10  0.038457                 (Muffin)
30  0.038246       (Coffee, Sandwich)
0   0.036344              (Alfajores)
28  0.035182      (Coffee, Medialuna)
14  0.034548                  (Scone)
15  0.034443                   (Soup)
17  0.033597                  (Toast)
26  0.029583  (Coffee, Hot chocolate)
21  0.029160          (Pastry, Bread)
13  0.029054           (Scandinavian)
25  0.028209        (Coffee, Cookies)
22  0.028104             (Tea, Bread)
24  0.023772              (Cake, Tea)
32  0.023666          (Coffee, Toast)
19  0.023349            (Cake, Bread)
27  0.020602          (Coffee, Juice)
18  0.020285               (Truffles)

In [54]:
#carregamento da libs para regras de associacao
from mlxtend.frequent_patterns import association_rules

In [58]:
#variavel para armazenar o conjunto de itens frequentes 
#metrica de destaque confiança com minimo de 0.5 isso significa que se estiver dentro de 0.5 já considero valida as informações

#então nas minhas informações eu tenho antecedentes que o cliente compra e o consequente das compras também
#isso inclui as metricas de suporte para essa analise

regras_apriori = association_rules(items_frequentes_apriori, metric='confidence', min_threshold=0.5)
regras_apriori

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664
1,(Cookies),(Coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174
2,(Hot chocolate),(Coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553
3,(Juice),(Coffee),0.038563,0.478394,0.020602,0.534247,1.116750,0.002154,1.119919
4,(Medialuna),(Coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871
5,(Pastry),(Coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682
6,(Sandwich),(Coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384
7,(Toast),(Coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582