# Bibliotecas

In [32]:
import pandas as pd

## Carregamento dos dados

In [33]:
dados = pd.read_csv('dados-padaria.csv')
dados

       TransactionNo          Items             DateTime    Daypart  DayType
0                  1          Bread  2016-10-30 09:58:11    Morning  Weekend
1                  2   Scandinavian  2016-10-30 10:05:34    Morning  Weekend
2                  2   Scandinavian  2016-10-30 10:05:34    Morning  Weekend
3                  3  Hot chocolate  2016-10-30 10:07:57    Morning  Weekend
4                  3            Jam  2016-10-30 10:07:57    Morning  Weekend
...              ...            ...                  ...        ...      ...
20502           9682         Coffee  2017-09-04 14:32:58  Afternoon  Weekend
20503           9682            Tea  2017-09-04 14:32:58  Afternoon  Weekend
20504           9683         Coffee  2017-09-04 14:57:06  Afternoon  Weekend
20505           9683         Pastry  2017-09-04 14:57:06  Afternoon  Weekend
20506           9684      Smoothies  2017-09-04 15:04:24  Afternoon  Weekend

[20507 rows x 5 columns]

## Análise exploratoria e tratamento dos dados

In [34]:
#dataset com 5 colunas e quase 21 linhas
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20507 entries, 0 to 20506
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionNo  20507 non-null  int64
 1   Items          20507 non-null  object
 2   DateTime       20507 non-null  object
 3   Daypart        20507 non-null  object
 4   DayType        20507 non-null  object
dtypes: int64(1), object(4)
memory usage: 801.2+ KB

In [35]:
#vou fazer um tratamento para isolar apenas os id de transações unicas
#isso é necessario porque as vezes mais de 1 item é vendido na transação 
# e a ideia é isolar o que foi vendido em cada transacao

transacao = []

for item in dados['TransactionNo'].unique():
    lista= list(set(dados[dados['TransactionNo'] == item]['Items']))
    transacao.append(lista)

In [36]:
#primeiras 5 linhas 
transacao [0:5]

[['Bread'],
 ['Scandinavian'],
 ['Jam', 'Cookies', 'Hot chocolate'],
 ['Muffin'],
 ['Pastry', 'Coffee', 'Bread']]

In [37]:
#instalei e chamei a extensão mlxtend para fazer essa regra associativa
# MLXTEND é uma biblioteca que cria extensões de aplicações de machine learning

!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\patricia.sousa\anaconda4\lib\site-packages (0.21.0)
Requirement already satisfied: setuptools in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

- ### Um tratamento necessario é converter as listas de itens em um dataframe com as transações que o ML possar processar, pois esse somente reconhece binario
- ### TransctionEncoder() utiliza o one hot encoding para transformar os dados categoricos em valores boleanos

In [38]:
from mlxtend.preprocessing import TransactionEncoder

In [39]:
#chamo o instanciamento dessa biblioteca
te= TransactionEncoder()

In [40]:
#abro uma variavel para armazenar meus dados transformados
transacao_te = te.fit(transacao).transform(transacao)

In [41]:
transacao_te

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [43]:
#transformo alista acima de array para um dataframe
transacao_transformada = pd.DataFrame(transacao_te, columns = te.columns_)
transacao_transformada

,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9460,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9461,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
9462,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9463,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9464,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False